.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;

  grid-row-gap: 20px;
  grid-column-gap: 10px;
}
header {
  background: yellow;
  height: 100px;
}
main {
  background: pink;
  height: 100px;
}
aside {
  background: black;
  height: 100px;
}
footer {
  background: purple;
  height: 100px;
}
