* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header {
  padding: 25px 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation a {
  color: #263035;
  text-decoration: none;
}

.navigation a + a {
  margin-left: 15px;
}

.signin-button {
  color: white;
  background: #820bc6;
  padding: 12px 37px;
  border-radius: 5px;
}
